DEVICE=cpu
# HF_TOKEN=your_huggingface_token
# HF_HOME=./hf_cache
# BASE_MODEL=Qwen/Qwen2.5-VL-3B-Instruct
# LORA_PATH=imbee510/qwen2-5-vl-landmark-lora
# WEATHER_API_KEY=your_openweather_key
# GROQ_API_KEY=your_groq_key

