.venv/
venv/
.env
venv

models/

data/landmark_dataset
data/raw
data/landmark_*
data/additional_dataset
data/newdata


src/model_server

__pycache__/
*.pyc
*.pyo
*.pyd

# Python cache 
src/**/__pycache__/
