# pip install -r requirements.txt
#FE
streamlit
pillow
pandas
# BE
transformers>=4.50.0
accelerate>=0.31.0
peft>=0.10.0
python-dotenv>=1.0.0
huggingface_hub>=0.20.0
torch>=2.2.0
torchvision>=0.17.0
pillow>=10.0.0
requests>=2.31.0
langchain>=0.2.0
langchain-groq>=0.1.0
fastapi>=0.110.0
uvicorn[standard]>=0.30.0
python-multipart>=0.0.9

#
pydantic-settings 
python-dotenv
googlemaps
google-search-results
langgraph